.Side-bar
  .side-bar_user_name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path do
          = icon('far','edit', class: 'icon-edit')
        = link_to edit_user_path(current_user) do
          = icon('fa','cog', class: 'icon-new')
  .side-bar__group-list
    .groupList
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .group_name
              = group.name
            .group_message
              = group.show_last_message
        
    

        
  