.Side-bar
  .side-bar_user_name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to "#",class:"Cntents__btn Contents__btn--edit" do
          = icon('far','edit', class: 'icon-edit')
        = link_to edit_user_path(current_user) do
          = icon('fa','cog', class: 'icon-new')
  .side-bar__group-list
    .group
      .group-name
        hoge
      .group-message
        まだメッセージがありません
    .group
      .group-name
        hoge
      .group-message
        まだメッセージがありません
      
  

        
  